.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  min-width: 550px;
  width: 100%;
  padding: 1rem;
  background-color: lightskyblue;
  border-bottom: 1px solid rgb(124, 113, 113);
}

.search-form {
  display: flex;
  justify-content: flex-start;
}

.search-input {
  border-style: none;
  min-width: 320px;
  width: 360px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  border-bottom: 1px solid rgb(124, 113, 113);
  background-color: transparent;
  color: rgb(124, 113, 113);
  caret-color: rgb(124, 113, 113);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  &::placeholder {
    color: rgb(124, 113, 113);
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    padding-left: 5px;
    padding-right: 5px;
  }
}
.search-input:focus {
  outline: none;
}

.search-btn {
  padding-top: 5px;
  padding-bottom: 5px;
  border-style: none;
  border-bottom: 1px solid rgb(124, 113, 113);
  background-color: transparent;
  cursor: pointer;
}

.search-btn > svg {
  fill: rgb(124, 113, 113);
}
